.details-view,.add-post-comment-form,.delete-post-form {
    background-color: #CCC;
    padding: 20px;
    opacity: 0.9;
}
.details-view h1{
    text-align: center;
    font-size: 2.1em;
}
.postContent {
    font-weight: bold;
    font-size: 1.5em;
}