body {
  background: url("../background/background.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  display: inline-block;
}

.home-posts-table {
  display: block;
  overflow: auto;
}

article {
  word-wrap: break-word;
  width: 30%;
  height: 400px;
  float: left;
  background-color: #FDEEC5;
  opacity: 0.8;
  text-align: center;
  color: black;
  padding: 15px;
  margin:40px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.home-view h1{
  text-align: center;
}

.home-view > h1{
  text-align: center;
  font-family: Florence, cursive;
  font-size: 6em;

}
.home-view > h1 > span {
  color: black;
  border: double white;
}
.home-view > h1 > span > span{
  background-color: red;
  color: white;
}

.home-posts-table {
  display: inline;
}

aside {
  display: inline-block;
  width: 20%;
  height: 400px;
  float: right;
  background-color: #FDEEC5;
  opacity: 0.8;
  text-align: left;
  padding: 15px;
  margin-top: 36px;
  margin-left: 20px;
  border-radius: 20px;
}

aside li {
  padding: 10px;
}

.list{
  list-style-type: none;
}

article>header>h1 {
  font-size: 1.9em;
}

aside h3{
  text-align: center;
}

hr {
  border-top: 1px solid red;
}

.date {
  position : absolute;
  bottom   : 0;
  right: 0;
}

.cars > h1 {
  color: #ccc;
}

.carTitle>h2,.carTitle>p{
  background-color: #FDEEC5;
  color: black;
  margin: 10px;
  width: 280px;
  text-align: center;
}